<h1>All Posts</h1>
<hr>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<!--<%# if user_signed_in? %> <td>Favourite</td> <%# end %>-->
			<td>Date</td>
			<td>Post</td>
		</tr>
	</thead>
	<tbody>
		
<% @posts.each do |p| %>
	<tr>

		<!--< % if user_signed_in? % >
			<td>< % = render "/favourites/favourite", mypost: p, count: false % ></td>
		< % end % >-->
		<td><%= formatted_date(p.created_at) %></td>
		<td><%= link_to p.title, post_path(p) %></td>
	</tr>
<% end %>	
	</tbody>
</table>